<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="current_session_context_class">thread</property>

		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/bdSEMUT</property>
		<property name="hibernate.query.substitutions">true 1, false 0</property>

		<property name="hibernate.show_sql">false</property>

		<mapping class="com.login.audit.laurofreitas.model.Menu" />

		<mapping class="com.login.audit.laurofreitas.model.Usuario" />
		<mapping class="com.login.audit.laurofreitas.model.Permissao" />
		<mapping class="com.login.audit.laurofreitas.model.Grupo" />
		<mapping class="com.login.audit.laurofreitas.model.GrupoOcorrencia" />
		<mapping class="com.login.audit.laurofreitas.model.Ocorrencia" />
		<mapping class="com.login.audit.laurofreitas.model.CategoriaOcorrencia" />
		<mapping class="com.login.audit.laurofreitas.model.UsuarioAPP" />
		<mapping class="com.login.audit.laurofreitas.model.Noticia" />
		<mapping class="com.login.audit.laurofreitas.model.TipoNoticia" />
		<mapping class="com.login.audit.laurofreitas.model.TipoSituacao" />
		<mapping class="com.login.audit.laurofreitas.model.Regiao" />
		<mapping class="com.login.audit.laurofreitas.model.RegiaoCoordenada" />

	</session-factory>

</hibernate-configuration>
	
	